<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TriDAS</title>
  </head>

  <!-- Navbar with image and text -->
  <nav class="navbar navbar-light" style="background-color:#f6dd9b;">
    <a class="navbar-brand" href="http://tridas.nffa.eu/">
      TriDAS
    </a>
  </nav>

  <body>

    <!-- Simple Title -->
    <div class="container-fluid">
      <div class="row mb-5">
         <div align="center" class="col">
            <!-- Image Plot -->
            <section>
              <!-- <h4>{{description}}</h4> row data to render-->
              <img src="data:image/png;base64, {{image}}", class="center">
          </section>
        </div>
      </div>
      <div class="row mb-5">
        <div align="center" class="container">
          <a href="data:image/png;base64, {{image}}" download="{{img_id}}.png"><button class='btn btn-default'>Download image plot</button></a>
        </div>
        <div align="center" class="container">
          <a href="http://tridas.nffa.eu/dashboard_stm/download/?ID={{img_id}}" target="blank"><button class='btn btn-default'>Download data files, metadata and provenance information </button></a>
        </div>
      </div>
    </div>
  </body>
