<!DOCTYPE html>
<html lang="en">
  <head>
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://gyrocode.github.io/jquery-datatables-checkboxes/1.2.12/js/dataTables.checkboxes.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="https://gyrocode.github.io/jquery-datatables-checkboxes/1.2.12/css/dataTables.checkboxes.css">
    <title>TriDAS</title>
  </head>

  <!-- Navbar with image and text -->
  <nav class="navbar navbar-light" style="background-color:#f6dd9b;">
    <a class="navbar-brand" href="http://tridas.nffa.eu/">
      TriDAS
    </a>
  </nav>

  <body>

    <!-- Simple Title -->
    <div class="container-fluid">
      <div class="row mb-5">
         <div align="center" class="col">
           <h1>STM Images List</h1>
         </div>
      </div>

      <!-- Table of images -->
      <div class="row no-gutters">
        <div class="table-responsive">
          {% for table in tables %}
                      {{ table|safe }}
          {% endfor %}
        </div>
      </div>

    </div>
    <script>
      $(document).ready(function() {

          $('#STM').DataTable( {
              "pagingType": "full_numbers",
              "columnDefs": [
                  {
                  "render": function(data, type){
                        if (type === 'display'){
                            data = '<a href="http://tridas.nffa.eu/dashboard_stm/show_image/?ID=' + data + '" target="_blank">' + data + '</a>';
                            }
                        return data;
                  },
                  "targets": 0
                  }],
          } );
      } );


    </script>



  </body>
